<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canHaveChildren</key>
	<string>YES</string>
	<key>className</key>
	<string>CCText</string>
	<key>editorClassName</key>
	<string>CCText</string>
	<key>inheritsFrom</key>
	<string>CCWidget</string>
	<key>properties</key>
	<array>
		<dict>
			<key>name</key>
			<string>CCText</string>
			<key>displayName</key>
			<string>CCText</string>
			<key>type</key>
			<string>Separator</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Font name</string>
			<key>name</key>
			<string>fontName</string>
			<key>type</key>
			<string>FontTTF</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>textAreaSize</string>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Font size</string>
			<key>name</key>
			<string>fontSize</string>
			<key>type</key>
			<string>FloatScale</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Text color</string>
			<key>name</key>
			<string>textColor</string>
			<key>type</key>
			<string>Color3</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Dimensions</string>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>textAreaSize</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Alignment</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>textHorizontalAlignment</string>
			<key>extra</key>
			<string>Left|0|Center|1|Right|2</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string></string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>textVerticalAlignment</string>
			<key>extra</key>
			<string>Top|0|Center|1|Bottom|2</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Touch scale change enabled</string>
			<key>name</key>
			<string>touchScaleChangeEnabled</string>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>textAreaSize</string>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Text</string>
			<key>type</key>
			<string>Text</string>
			<key>name</key>
			<string>string</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Shadow effect</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Enabled</string>
			<key>name</key>
			<string>shadowEnabled</string>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Opacity</string>
			<key>name</key>
			<string>shadowOpacity</string>
			<key>type</key>
			<string>Byte</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Color</string>
			<key>name</key>
			<string>shadowColor</string>
			<key>type</key>
			<string>Color3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Offset</string>
			<key>name</key>
			<string>shadowOffset</string>
			<key>type</key>
			<string>Point</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Blur radius</string>
			<key>name</key>
			<string>shadowBlurRadius</string>
			<key>type</key>
			<string>Integer</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Outline effect</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Enabled</string>
			<key>name</key>
			<string>outlineEnabled</string>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Opacity</string>
			<key>name</key>
			<string>outlineOpacity</string>
			<key>type</key>
			<string>Byte</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Color</string>
			<key>name</key>
			<string>outlineColor</string>
			<key>type</key>
			<string>Color3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Size</string>
			<key>name</key>
			<string>outlineSize</string>
			<key>type</key>
			<string>Integer</string>
		</dict>
	</array>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>textAreaSize</string>
				<string>contentSize</string>
			</array>
			<key>readOnly</key>
			<string>NO</string>
			<key>displayName</key>
			<string>Ignore content adapt with size</string>
			<key>name</key>
			<string>ignoreContentAdaptWithSize</string>
			<key>type</key>
			<string>Check</string>
		</dict>
	</array>
</dict>
</plist>
