<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canHaveChildren</key>
	<string>YES</string>
	<key>className</key>
	<string>CCLayout</string>
	<key>editorClassName</key>
	<string>CCLayout</string>
	<key>inheritsFrom</key>
	<string>CCWidget</string>
	<key>properties</key>
	<array>
		<dict>
			<key>name</key>
			<string>CCLayout</string>
			<key>displayName</key>
			<string>CCLayout</string>
			<key>type</key>
			<string>Separator</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Background color</string>
			<key>name</key>
			<string>backgroundColor</string>
			<key>type</key>
			<string>Color3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Background opacity</string>
			<key>name</key>
			<string>backgroundColorOpacity</string>
			<key>type</key>
			<string>Byte</string>
		</dict>
	</array>
	<key>propertiesOverridden</key>
	<array/>
</dict>
</plist>
