<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canBeRootNode</key>
	<true/>
	<key>canHaveChildren</key>
	<string>YES</string>
	<key>className</key>
	<string>CCButton</string>
	<key>editorClassName</key>
	<string>CCButton</string>
	<key>inheritsFrom</key>
	<string>CCWidget</string>
	<key>properties</key>
	<array>
		<dict>
			<key>name</key>
			<string>CCButton</string>
			<key>displayName</key>
			<string>CCButton</string>
			<key>type</key>
			<string>Separator</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Touch animation</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pressed action enabled</string>
			<key>name</key>
			<string>pressedActionEnabled</string>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>default</key>
			<real>0.1</real>
			<key>displayName</key>
			<string>Zoom scale</string>
			<key>name</key>
			<string>zoomScale</string>
			<key>type</key>
			<string>Float</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Title</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Title text</string>
			<key>name</key>
			<string>titleText</string>
			<key>type</key>
			<string>String</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Title font name</string>
			<key>name</key>
			<string>titleFontName</string>
			<key>type</key>
			<string>FontTTF</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Title font size</string>
			<key>name</key>
			<string>titleFontSize</string>
			<key>type</key>
			<string>FloatScale</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Title color</string>
			<key>name</key>
			<string>titleColor</string>
			<key>type</key>
			<string>Color3</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
				<string>ignoreContentAdaptWithSize</string>
			</array>
			<key>displayName</key>
			<string>Scale9 enabled</string>
			<key>name</key>
			<string>scale9Enabled</string>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Normal state</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Enabled</string>
			<key>name</key>
			<string>normalSpriteFrameEnabled</string>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>default</key>
			<array>
				<string>ccbResources/ccbDefaultImages.plist</string>
				<string>ccbButton.png</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>name</key>
			<string>normalSpriteFrame</string>
			<key>type</key>
			<string>SpriteFrame</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pressed state</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Enabled</string>
			<key>name</key>
			<string>pressedSpriteFrameEnabled</string>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>0</integer>
			<key>displayName</key>
			<string>Brightness</string>
			<key>name</key>
			<string>pressedSpriteFrameBrightness</string>
			<key>type</key>
			<string>Float</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>default</key>
			<array>
				<string>ccbResources/ccbDefaultImages.plist</string>
				<string>ccbButton.png</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>name</key>
			<string>pressedSpriteFrame</string>
			<key>type</key>
			<string>SpriteFrame</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Disabled state</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Enabled</string>
			<key>name</key>
			<string>disabledSpriteFrameEnabled</string>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>default</key>
			<array>
				<string>ccbResources/ccbDefaultImages.plist</string>
				<string>ccbButton.png</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>name</key>
			<string>disabledSpriteFrame</string>
			<key>type</key>
			<string>SpriteFrame</string>
		</dict>
	</array>
	<key>propertiesOverridden</key>
	<array/>
</dict>
</plist>
