<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canHaveChildren</key>
	<string>YES</string>
	<key>className</key>
	<string>CCButton</string>
	<key>editorClassName</key>
	<string>CCButton</string>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCButton</string>
			<key>dontSetInEditor</key>
			<true/>
			<key>name</key>
			<string>UiButton</string>
			<key>type</key>
			<string>Separator</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Touch listener</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Selector</string>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<string>Block</string>
		</dict>
		<dict>
			<key>default</key>
			<string>YES</string>
			<key>displayName</key>
			<string>Touch enabled</string>
			<key>name</key>
			<string>touchEnabled</string>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>default</key>
			<string>YES</string>
			<key>displayName</key>
			<string>Swallow touches</string>
			<key>name</key>
			<string>swallowTouches</string>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>default</key>
			<string>YES</string>
			<key>displayName</key>
			<string>Propagate touch events</string>
			<key>name</key>
			<string>propagateTouchEvents</string>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pressed action enabled</string>
			<key>name</key>
			<string>pressedActionEnabled</string>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>default</key>
			<real>0.1</real>
			<key>displayName</key>
			<string>Zoom scale</string>
			<key>name</key>
			<string>zoomScale</string>
			<key>type</key>
			<string>Float</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Title</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>default</key>
			<string>Title</string>
			<key>displayName</key>
			<string>Title text</string>
			<key>name</key>
			<string>titleText</string>
			<key>type</key>
			<string>String</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>titleFontSIze</string>
			</array>
			<key>default</key>
			<string>Helvetica</string>
			<key>displayName</key>
			<string>Title font name</string>
			<key>name</key>
			<string>titleFontName</string>
			<key>type</key>
			<string>FontTTF</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>12</integer>
			<key>displayName</key>
			<string>Title font size</string>
			<key>name</key>
			<string>titleFontSize</string>
			<key>type</key>
			<string>FloatScale</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Title color</string>
			<key>name</key>
			<string>titleColor</string>
			<key>type</key>
			<string>Color3</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Normal state</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Enabled</string>
			<key>name</key>
			<string>normalSpriteFrameEnabled</string>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>default</key>
			<array>
				<string>ccbResources/ccbDefaultImages.plist</string>
				<string>ccbButton.png</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>name</key>
			<string>normalSpriteFrame</string>
			<key>type</key>
			<string>SpriteFrame</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pressed state</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Enabled</string>
			<key>name</key>
			<string>pressedSpriteFrameEnabled</string>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>default</key>
			<array>
				<string>ccbResources/ccbDefaultImages.plist</string>
				<string>ccbButton.png</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>name</key>
			<string>pressedSpriteFrame</string>
			<key>type</key>
			<string>SpriteFrame</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Disabled state</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Enabled</string>
			<key>name</key>
			<string>disabledSpriteFrameEnabled</string>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>default</key>
			<array>
				<string>ccbResources/ccbDefaultImages.plist</string>
				<string>ccbButton.png</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>name</key>
			<string>disabledSpriteFrame</string>
			<key>type</key>
			<string>SpriteFrame</string>
		</dict>
	</array>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>default</key>
			<array>
				<string>120</string>
				<integer>40</integer>
			</array>
			<key>displayName</key>
			<string>Content size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>type</key>
			<string>Size</string>
		</dict>
	</array>
</dict>
</plist>
