<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canBeRootNode</key>
	<true/>
	<key>canHaveChildren</key>
	<string>YES</string>
	<key>className</key>
	<string>CCBlurBackground</string>
	<key>editorClassName</key>
	<string>CCBlurBackground</string>
	<key>inheritsFrom</key>
	<string>CCNodeV3</string>
	<key>properties</key>
	<array>
		<dict>
			<key>name</key>
			<string>CCBlurBackground</string>
			<key>displayName</key>
			<string>CCBlurBackground</string>
			<key>type</key>
			<string>Separator</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Render scale</string>
			<key>name</key>
			<string>renderScale</string>
			<key>type</key>
			<string>Float</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Blur strength (sigma)</string>
			<key>name</key>
			<string>sigma</string>
			<key>type</key>
			<string>Float</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Blur radius</string>
			<key>name</key>
			<string>blurRadius</string>
			<key>type</key>
			<string>Integer</string>
		</dict>
	</array>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
</dict>
</plist>
