<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canBeRootNode</key>
	<true/>
	<key>canHaveChildren</key>
	<string>YES</string>
	<key>className</key>
	<string>EEWidget</string>
	<key>editorClassName</key>
	<string>EEWidget</string>
	<key>inheritsFrom</key>
	<string>CCWidget</string>
	<key>properties</key>
	<array>
		<dict>
			<key>name</key>
			<string>EEWidget</string>
			<key>displayName</key>
			<string>EEWidget</string>
			<key>type</key>
			<string>Separator</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>insetLeft</string>
			<key>displayName</key>
			<string>Left</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>insetTop</string>
			<key>displayName</key>
			<string>Top</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>insetRight</string>
			<key>displayName</key>
			<string>Right</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>insetBottom</string>
			<key>displayName</key>
			<string>Bottom</string>
		</dict>
	</array>
</dict>
</plist>
