<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canBeRootNode</key>
	<true/>
	<key>canHaveChildren</key>
	<string>NO</string>
	<key>className</key>
	<string>CCCheckBox</string>
	<key>editorClassName</key>
	<string>CCCheckBox</string>
	<key>inheritsFrom</key>
	<string>CCWidget</string>
	<key>properties</key>
	<array>
		<dict>
			<key>name</key>
			<string>CCCheckBox</string>
			<key>displayName</key>
			<string>CCCheckBox</string>
			<key>type</key>
			<string>Separator</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Selected</string>
			<key>name</key>
			<string>selected</string>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>default</key>
			<real>0.1</real>
			<key>displayName</key>
			<string>Zoom scale</string>
			<key>name</key>
			<string>zoomScale</string>
			<key>type</key>
			<string>Float</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Normal cross sprite</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Enabled</string>
			<key>name</key>
			<string>normalCrossSpriteFrameEnabled</string>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string>ccbResources/ccbDefaultImages.plist</string>
				<string>ccbButton.png</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>name</key>
			<string>normalCrossSpriteFrame</string>
			<key>type</key>
			<string>SpriteFrame</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Disabled cross sprite</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Enabled</string>
			<key>name</key>
			<string>disabledCrossSpriteFrameEnabled</string>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string>ccbResources/ccbDefaultImages.plist</string>
				<string>ccbButton.png</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>name</key>
			<string>disabledCrossSpriteFrame</string>
			<key>type</key>
			<string>SpriteFrame</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Normal background sprite</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Enabled</string>
			<key>name</key>
			<string>normalBackgroundSpriteFrameEnabled</string>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>default</key>
			<array>
				<string>ccbResources/ccbDefaultImages.plist</string>
				<string>ccbButton.png</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>name</key>
			<string>normalBackgroundSpriteFrame</string>
			<key>type</key>
			<string>SpriteFrame</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Pressed background sprite</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Enabled</string>
			<key>name</key>
			<string>pressedBackgroundSpriteFrameEnabled</string>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string>ccbResources/ccbDefaultImages.plist</string>
				<string>ccbButton.png</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>name</key>
			<string>pressedBackgroundSpriteFrame</string>
			<key>type</key>
			<string>SpriteFrame</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Disabled background sprite</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Enabled</string>
			<key>name</key>
			<string>disabledBackgroundSpriteFrameEnabled</string>
			<key>type</key>
			<string>Check</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string>ccbResources/ccbDefaultImages.plist</string>
				<string>ccbButton.png</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>name</key>
			<string>disabledBackgroundSpriteFrame</string>
			<key>type</key>
			<string>SpriteFrame</string>
		</dict>
	</array>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<string>YES</string>
			<key>defaultSerialization</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>default</key>
			<array>
				<string>0</string>
				<integer>0</integer>
			</array>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
</dict>
</plist>
